<%= form_with(model: collected_coin, local: true) do |form| %>
  <% if collected_coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collected_coin.errors.count, "error") %> prohibited this collected_coin from being saved:</h2>

      <ul>
      <% collected_coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
