<!DOCTYPE html>
<html>
  <head>
    <title>Monsterhunt</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body></body> 
     <%= render 'layouts/header' %>
      <section class = "section">
          <div class="container">
              <%= flash_messages %>
              <%= yield %>
          </div>
      </section>
  </body>
</html>
